@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.background{
    -fx-background-image: url("https://i.gifer.com/NzP7.gif");
    -fx-background-size: stretch;
}

.fontChange{
    -fx-font-family: 'Concert One', cursive;
    -fx-font-size: 30;
    -fx-fill: #c26c36;
}

.button{
    -fx-background-color: transparent;
}