@font-face {
    src: url("font/Minecraftia.ttf");
    -fx-font-family: 'Minecraftia', cursive;
}

AnchorPane{
    -fx-font-family: 'Minecraftia', cursive;
}

.background{
    -fx-background-image: url("https://i.gifer.com/NzP7.gif");
    -fx-background-size: stretch;
}

.fontChange{
    -fx-font-size: 20;
    -fx-fill: black;
    -fx-stroke: white;
    -fx-stroke-width: 1;
}
.button{
    -fx-background-color: transparent;
}